<h2>Criar conta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :role, 'Tipo de Conta' %>
    <%= f.select :role, 
        options_for_select(
          User.roles.keys.map {
            |role| [t("activerecord.attributes.user.roles.#{role}"), role]
          },), {}, { id: 'user_role' } 
    %>
  </div>

  <div class="field" id="name-field" style="display: block">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field" id="individual-registration-field" style="display: block">
    <%= f.label :individual_registration %>
    <%= f.text_field :individual_registration %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Criar conta" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  var roleSelect = document.querySelector('#user_role')
  var nameField = document.querySelector('#name-field')
  var indivualRegistrationField = document.querySelector('#individual-registration-field')
  

    roleSelect.addEventListener('change', function() {
      var role = roleSelect.value
      if (role === 'buffet_owner') {
        nameField.style.display = 'none'
        indivualRegistrationField.style.display = 'none'
      } else {
        nameField.style.display = 'block'
        indivualRegistrationField.style.display = 'block'
      }
    })
  })
</script>
