<%= form_with(model: @buffet, html: {class: "max-w-lg mx-auto"}) do |f| %>
  <div class="mb-4">
    <%= f.label :corporate_name, class:"block mb-1 text-sm font-medium text-gray-900" %>
    <%= f.text_field :corporate_name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
  </div>
  <div class="mb-4">
    <%= f.label :brand_name, class:"block mb-1 text-sm font-medium text-gray-900" %>
    <%= f.text_field :brand_name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
  </div>
  <div class="mb-4">
    <%= f.label :registration_number, class:"block mb-1 text-sm font-medium text-gray-900" %>
    <%= f.text_field :registration_number, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
  </div>
  <div class="flex flex-row gap-4">
    <div class="mb-4 flex-grow">
      <%= f.label :telephone, class:"block mb-1 text-sm font-medium text-gray-900" %>
      <%= f.text_field :telephone, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
    </div>
    <div class="mb-4 flex-grow">
      <%= f.label :email, class:"block mb-1 text-sm font-medium text-gray-900" %>
      <%= f.text_field :email, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
    </div>
  </div>
  <div class="mb-4">
    <%= f.label :address, class:"block mb-1 text-sm font-medium text-gray-900" %>
    <%= f.text_field :address, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
  </div>
  <div class="flex flex-row gap-4">
    <div class="mb-4 flex-grow">
      <%= f.label :district, class:"block mb-1 text-sm font-medium text-gray-900" %>
      <%= f.text_field :district, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
    </div>
    <div class="mb-4 flex-grow">
      <%= f.label :cep, class:"block mb-1 text-sm font-medium text-gray-900" %>
      <%= f.text_field :cep, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
    </div>
  </div>
  <div class="flex flex-row gap-4">
    <div class="mb-4 flex-grow">
      <%= f.label :city, class:"block mb-1 text-sm font-medium text-gray-900" %>
      <%= f.text_field :city, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
    </div>
    <div class="mb-4 flex-grow">
      <%= f.label :state, class:"block mb-1 text-sm font-medium text-gray-900" %>
      <%= f.text_field :state, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
    </div>
  </div>
  <div class="mb-4">
    <%= f.label :description, class:"block mb-1 text-sm font-medium text-gray-900" %>
    <%= f.text_area :description, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
  </div>
  <div class="mb-4">
    <%= f.label :payment_methods, class:"block mb-1 text-sm font-medium text-gray-900" %>
    <%= f.text_field :payment_methods, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
  </div>
  <div class="mb-8">
    <% if current_page?(new_buffet_path) %>
      <%= f.submit 'Cadastrar Buffet', class:"text-white bg-primary hover:bg-primary/90 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer" %>
    <% else %>
      <%= f.submit 'Salvar alterações', class:"text-white bg-primary hover:bg-primary/90 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer" %>
    <% end %>
  </div>
<% end %>