<% if current_user.buffet_owner? && @same_date_orders.count > 1 %>
  <span>Atenção: Existe outro pedido para o mesmo dia!</span>
<% end %>

<h1>Pedido: <%= @order.code %> </h1>
<span>Status: <%= I18n.t("activerecord.attributes.order.statuses.#{@order.status}") %></span>

<div>
  <section>
    <span>Nome:</span>
    <span><%= @order.user.name %></span>
    <span>Data do pedido:</span>
    <span><%= @order.created_at.strftime("%d/%m/%Y") %></span>
  </section>
  <section>
    <h2>Detalhes:</h2>
    <div>
      <span>Nome do buffet:</span>
      <span><%= @order.event_type.buffet.brand_name %></span>
    </div>
    <div>
      <span>Tipo de evento:</span>
      <span><%= @order.event_type.name %></span>
    </div>
    
    <div>
      <span>Data do evento:</span>
      <span><%= @order.date.strftime("%d/%m/%Y") %></span>
    </div>
    <div>
      <span>Quantidade estimada de convidados:</span>
      <span><%= @order.guests %></span>
    </div>
    <div>
      <span>Detalhes do evento:</span>
      <span><%= @order.details %></span>
    </div>
    <div>
      <span>Endereço do evento:</span>
      <span><%= @order.location %></span>
    </div>
  </section>
    
  <section>
    <% if current_user.buffet_owner? && @order.pending? %>
      <%= render 'default_price', order: @order %>
      <%= render 'form' %>
      <div>
        <span>Valor total: <%= number_to_currency(@order.total_amount) %></span> 
      </div>
    <span><%= button_to 'Cancelar pedido', canceled_order_path(@order), method: :post %></span>
    <% elsif @order.waiting? || @order.confirmed? %>
      <%= render 'default_price', order: @order %>
      <div>
        <span>Forma de pagamento:</span>
        <span><%= @order.payment_method %></span>
      </div>
      <div>
        <span>Desconto:</span>
        <span><%= @order.discount %>%</span>
      </div>
      <div>
        <span>Taxa extra:</span>
        <span><%= @order.extra_fee %></span>
      </div>
      <div>
        <span>Descrição:</span>
        <span><%= @order.description %></span>
      </div>
      <div>
        <span>Valor total: </span>
        <span><%= number_to_currency(@order.total_amount) %></span>
      </div>
      <div>
        <span>Válido até:</span>
        <span><%= @order.expiry_date.strftime("%d/%m/%Y") %></span>
      </div>
    <% end %>
    <span><%= link_to 'Voltar', orders_path %></span>
  </section>
</div>