<div class="relative flex w-full h-full items-center bg-secondary">
  <div class="absolute top-20 left-10">
    <%= link_to root_path do %>
      <%= image_tag "/logo_cadebuffet.png", alt: 'Logotipo cadê buffet', class: 'h-12 w-auto' %>
    <% end %>
  </div>
  <div class="flex-1">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "max-w-sm mx-auto"}) do |f| %>
      <h2 class="text-foreground text-2xl mb-8">Entrar</h2>

      <div class="mb-4">
        <%= f.label :email, class:"block mb-1 text-sm font-medium text-gray-900" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class:"block mb-1 text-sm font-medium text-gray-900" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field flex items-start mb-5">
          <div class="flex items-center h-5">
            <%= f.check_box :remember_me, class:"w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3"%>
          </div>
          <%= f.label :remember_me, class:"ms-2 text-sm font-medium text-gray-900" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Entrar", class:"text-white bg-primary hover:bg-primary/90 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer"%>
      </div>

      <div class="flex justify-center mx-auto my-8">
        <span>Ainda não tem um cadastro? <%= link_to 'Cadastre-se já!', new_user_registration_path, class: "hover:underline"%></span>
      </div>
    <% end %>
  </div>
  <div class="flex-1">
    <%= image_tag '/buffet-login.jpg', class:"w-full h-dvh object-cover"%>
  </div>
</div>

