<div class="mx-auto grid gap-4 max-w-7xl justify-between p-6 px-8">
  <div class="p-8 bg-white border border-gray-200 rounded-lg shadow ">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Preço-base</h2>
    <p class="mb-3 font-normal text-gray-700">
      <span class="text-muted-foreground">Título:</span> <%= @base_price.title %>
    </p>
    <p class="mb-3 font-normal text-gray-700">
      <span class="text-muted-foreground">Valor mínimo:</span> <%= number_to_currency(@base_price.minimum_value) %>
    </p>
    <p class="mb-3 font-normal text-gray-700">
      <span class="text-muted-foreground">Valor adicional por pessoa:</span> <%= number_to_currency(@base_price.additional_value_per_person) %>
    </p>
    <p class="mb-3 font-normal text-gray-700">
      <span class="text-muted-foreground">Valor por hora extra:</span> <%= number_to_currency(@base_price.extra_hour_value) %>
    </p>

    <% if current_user.buffet_owner? && @base_price.event_type.buffet == current_user.buffet %>
      <%= link_to 'Editar Valores', edit_base_price_path(@base_price), class:"text-sm border border-border inline-block px-5 py-2.5 rounded-lg shadow-sm hover:bg-accent hover:text-accent-foreground" %>
      <%= link_to 'Voltar', buffet_path(@base_price.event_type.buffet), class:"text-sm inline-block px-6 py-3 rounded-lg hover:shadow-sm hover:bg-accent hover:text-accent-foreground" %>
    <% else %>
      <%= link_to 'Voltar', root_path, class:"text-sm inline-block px-6 py-3 rounded-lg hover:shadow-sm hover:bg-accent hover:text-accent-foreground" %>
    <% end %>
</div>
