<!DOCTYPE html>
<html>
  <head>
    <title>Cade Buffet?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <div>
        <span><%= link_to 'Cadê Buffet?', root_path %></span>
      </div>
      <% if !current_page?(root_path) %>
        <%= form_with(url: search_buffets_path, method: :get) do |f| %>
          <%= f.text_field :query %>
          <%= f.submit 'Buscar' %>
        <% end %>
      <% end %>
      <nav>
        <% if user_signed_in? %>
          <span><%= button_to 'Sair', destroy_user_session_path, method: :delete %></span>
        <% else %>
          <span><%= link_to 'Criar uma conta', new_user_registration_path %></span>
          <span><%= link_to 'Entrar', new_user_session_path %></span>
        <% end %>
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
